.tests{
  text-align: center;
  display: flex;
  justify-content: space-between;

  .task-list__form{
    width: 40%;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff33;


    input{
      width: 100%;
      margin: 5px 0px;
      padding: 10px;
      border-radius: 7px;
      background: transparent;
      border: 1px solid #ffffff33;
      color: #fff;

      &::placeholder{
        color: #fff;
        opacity: 0.4;
        font-size: 14px;
        font-weight: 500;
      }
    }

    select{
      width: 100%;
      margin: 5px 0px;
      padding: 10px;
      border-radius: 7px;
      background: transparent;
      border: 1px solid #ffffff33;
      color: #fff;

      option{
        background: #272727;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .task-list{
    width: 58%;

    .task-item{
      width: 100%;
      border-radius: 10px;
      background: #272727;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      margin-bottom: 15px;
      transition: all .1s ease-in-out;
      color: #fff;

      &:hover{
        background: #1f1f1f;
      }

      &.completed{
        position: relative;
        background: rgb(31, 30, 30);

        .check-mark{
          position: absolute;
          left: 5px;
          top: 40%;
          width: 20px;
          height: 20px;
          opacity: 1;
        }
      }

      .task-name{
        font-size: 16px;
        font-weight: 900;

        .task-lvl{
          margin-right: 10px;
          font-size: 14px;
          font-weight: 500;
          border: 1px solid #9dff00;
          padding: 5px 10px;
          background: #9dff001e;
          border-radius: 5px;
        }
      }

      .task-lang{
        font-size: 16px;
        padding: 10px 20px;
        border: 1px solid #ffffff33;
        border-radius: 7px;
      }
    }
  }  
}
